In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ['year', '0-4',	'5-9',	'10-14',	'15-19',	'20-24',	'25-29',	'30-34',	'35-39',	'40-44',	'45-49',	'50-54',	'55-59',	'60-64',	'65-69',	'70-74',	'75-79',	'80-84',	'85-89',	'90-94',	'95-99',	'100+']

# tmp_names = ['year', '0-4',	'5-9',	'10-14',	'15-19',	'20-24',	'25-29',	'30-34',	'35-39',	'40-44',	'45-49',	'50-54',	'55-59',	'60-64',	'65-69',	'70-74',	'75-79',	'80-84',	'85-89',	'90-94',	'95-99',	'100+']

In [3]:
data_total = pd.read_excel('TOTAL_POPULATION.xlsx')
data_total

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,285,Estimates,Bermuda,14,60,Country/Area,918,37.256,37.8,38.437,...,65.076,64.737,64.381,64.038,63.695,63.36,63.04,62.763,62.508,62.273
301,286,Estimates,Canada,NaN,124,Country/Area,918,13733.398,14078.449,14445.453,...,34539.156,34922.031,35296.535,35664.338,36026.668,36382.942,36732.091,37074.558,37411.038,37742.157
302,287,Estimates,Greenland,26,304,Country/Area,918,22.993,23.466,23.936,...,56.555,56.477,56.412,56.383,56.378,56.408,56.473,56.565,56.66,56.772
303,288,Estimates,Saint Pierre and Miquelon,2,666,Country/Area,918,4.567,4.609,4.648,...,6.323,6.251,6.168,6.073,5.992,5.933,5.885,5.845,5.821,5.795
304,289,Estimates,United States of America,35,840,Country/Area,918,158804.397,160872.264,163266.026,...,311584.051,314043.885,316400.539,318673.422,320878.312,323015.992,325084.758,327096.263,329064.917,331002.647

In [4]:
data_total_ru = data_total[data_total['Unnamed: 2'] == "Russian Federation"].iloc[:, 7:]
data_total_ru

,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
255,102798.649,104304.698,105967.087,107727.31,109536.504,111355.301,113154.332,114913.78,116622.392,118275.873,...,143703.027,143993.888,144325.456,144664.837,144985.059,145275.374,145530.091,145734.034,145872.26,145934.46

In [5]:
data_age = pd.read_excel('BY_AGE_BOTH_SEXES.xlsx')
data_age

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18116,18101,Estimates,United States of America,29,840,Country/Area,918,2016,19595.177,20982.232,...,21712.261,19335.488,16223.362,11749.586,8338.62,5816.43,3923.122,1915.769,524.046,70.249
18117,18102,Estimates,United States of America,29,840,Country/Area,918,2017,19474.782,20836.548,...,21780.7,19735.15,16657.346,12400.319,8582.499,5920.16,3902.179,1993.112,594.137,76.235
18118,18103,Estimates,United States of America,29,840,Country/Area,918,2018,19511.521,20583.423,...,21772.121,20111.237,17037.068,13093.39,8874.073,6064.571,3868.698,2037.048,648.457,82.906
18119,18104,Estimates,United States of America,29,840,Country/Area,918,2019,19604.096,20287.749,...,21691.222,20429.652,17415.446,13758.858,9250.376,6245.265,3862.946,2053.727,663.522,89.949
18120,18105,Estimates,United States of America,29,840,Country/Area,918,2020,19676.332,20045.152,...,21542.27,20669.143,17819.027,14354.863,9727.734,6461.202,3911.104,2051.136,626.636,97.104

In [6]:
data_age_ru = data_age[(data_age['Unnamed: 2'] == "Russian Federation")].iloc[:, 7:]
data_age_ru.set_axis(names, axis=1, inplace=True)
data_age_ru

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
15352,1950,11108.268,6930.349,12663.863,10156.782,12150.037,8012.741,6071.509,7567.6,6717.819,...,3576.965,2925.752,2205.274,1389.655,809.149,354.611,140.334,45.052,15.382,6.039
15353,1951,12686.585,6435.89,11899.261,10355.37,11968.646,8767.421,6049.812,7272.755,6872.844,...,3625.957,2964.562,2263.861,1448.024,853.696,383.131,146.248,47.875,14.025,4.925
15354,1952,13005.504,6788.609,10664.257,11168.958,11440.307,9795.572,6262.422,6890.648,7133.446,...,3718.603,3036.685,2341.294,1531.507,895.5,425.108,148.859,50.285,13.786,4.051
15355,1953,12927.173,7918.495,9050.905,12168.358,10691.854,10835.556,6647.447,6445.798,7369.749,...,3825.524,3113.778,2416.419,1624.045,928.07,475.238,148.502,51.301,13.54,3.335
15356,1954,12806.662,9425.934,7606.133,12773.213,10118.587,11581.136,7173.936,6083.438,7464.851,...,3946.366,3188.116,2484.703,1712.954,958.436,523.71,149.885,49.621,12.178,2.749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15418,2016,9484.077,8387.989,7246.922,6456.787,8277.188,12122.168,12294.428,10981.797,10183.008,...,10855.918,9636.816,6722.995,3955.771,4723.105,2692.682,1540.587,466.496,61.224,8.141
15419,2017,9538.812,8655.908,7467.444,6508.584,7692.7,11428.628,12552.139,11197.999,10291.629,...,10870.328,9816.236,7201.596,4184.257,4219.167,3049.764,1446.947,569.576,79.171,8.236
15420,2018,9497.26,8921.018,7688.159,6669.614,7214.019,10590.506,12750.914,11435.249,10362.416,...,10843.485,9930.147,7667.532,4557.114,3673.876,3388.384,1347.123,648.16,96.544,8.39
15421,2019,9400.039,9161.863,7920.826,6875.029,6852.386,9746.958,12770.848,11681.899,10454.957,...,10703.857,10010.361,8083.876,4976.15,3290.722,3550.858,1319.127,683.471,105.813,8.744
15422,2020,9271.691,9350.916,8174.262,7081.775,6614.696,8993.089,12543.831,11924.724,10604.635,...,10418.015,10073.623,8427.746,5390.381,3159.337,3485.779,1389.639,668.338,102.243,9.407

In [7]:
data_age_ru_fem = pd.read_excel('BY_AGE_FEMALE.xlsx')
data_age_ru_fem = data_age_ru_fem[data_age_ru_fem['Unnamed: 2'] == "Russian Federation"].iloc[:, 7:]
data_age_ru_fem.set_axis(names, axis=1, inplace=True)
data_age_ru_fem

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
15352,1950,5457.85,3448.536,6255.687,5169.042,6403.152,4814.104,3695.944,4673.846,4166.71,...,2306.667,1928.282,1470.258,940.708,561.084,254.333,103.803,33.562,11.574,4.585
15353,1951,6226.909,3210.204,5883.537,5229.66,6232.092,5131.915,3694.042,4493.127,4254.584,...,2354.466,1956.954,1516.508,982.87,592.199,274.106,108.189,35.804,10.58,3.753
15354,1952,6379.796,3377.305,5276.934,5592.452,5903.415,5541.075,3844.682,4243.621,4414.697,...,2432.48,2002.785,1575.588,1042.247,621.649,303.384,110.328,37.725,10.394,3.1
15355,1953,6341.065,3920.981,4488.445,6055.29,5483.523,5926.949,4092.658,3951.752,4567.535,...,2523.018,2051.806,1634.01,1109.278,645.725,338.814,110.55,38.684,10.222,2.566
15356,1954,6284.242,4649.835,3783.667,6337.255,5160.673,6169.647,4384.702,3717.117,4634.117,...,2623.942,2103.45,1687.353,1175.833,669.611,373.829,112.253,37.784,9.262,2.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15418,2016,4609.39,4091.092,3538.651,3155.34,4044.295,5991.657,6135.456,5597.142,5239.258,...,6069.167,5654.38,4110.053,2610.862,3305.279,1956.839,1193.978,390.889,54.868,7.501
15419,2017,4635.612,4219.517,3646.66,3181.982,3759.868,5641.785,6260.061,5694.174,5303.95,...,6058.546,5751.27,4404.866,2732.035,2968.932,2206.888,1119.858,467.886,70.768,7.573
15420,2018,4616.383,4345.516,3754.045,3260.695,3529.042,5218.824,6356.147,5797.188,5349.684,...,6023.604,5803.256,4697.023,2951.991,2596.984,2454.619,1041.382,526.581,85.972,7.699
15421,2019,4570.444,4459.404,3866.509,3360.519,3355.361,4794.402,6362.169,5904.988,5402.179,...,5928.651,5831.635,4958.868,3208.37,2326.63,2587.982,1017.348,554.212,94.056,8.014
15422,2020,4508.865,4548.68,3988.159,3460.825,3240.763,4417.248,6243.12,6013.65,5476.691,...,5757.121,5848.341,5171.853,3467.843,2222.135,2565.34,1070.686,546.478,91.202,8.62

In [8]:
data_age_ru_man = pd.read_excel('BY_AGE_MALE.xlsx')
data_age_ru_man = data_age_ru_man[data_age_ru_man['Unnamed: 2'] == "Russian Federation"].iloc[:, 7:]
data_age_ru_man.set_axis(names, axis=1, inplace=True)
data_age_ru_man.iloc[-16:,:]

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
15407,2005,3559.674,3344.694,4269.41,6211.317,6224.355,5491.279,5102.222,4656.111,5492.677,...,3615.079,1957.097,2890.585,1669.435,1310.193,393.819,125.598,42.831,5.144,0.327
15408,2006,3688.46,3277.278,4002.554,5964.862,6295.819,5590.472,5161.782,4568.684,5295.776,...,3785.709,2022.303,2683.219,1775.479,1293.21,488.283,128.475,45.183,6.605,0.339
15409,2007,3791.262,3268.283,3783.599,5629.633,6380.283,5711.459,5205.155,4590.737,5038.39,...,3931.657,2230.628,2351.993,1961.929,1215.095,602.868,123.732,45.889,9.034,0.355
15410,2008,3890.997,3322.659,3593.922,5243.587,6451.456,5840.172,5237.768,4703.068,4739.7,...,4086.572,2497.247,2004.203,2151.727,1122.996,707.68,121.579,44.415,10.6,0.376
15411,2009,4000.775,3424.726,3426.941,4868.506,6459.688,5964.706,5284.68,4844.858,4468.32,...,4264.948,2736.738,1769.203,2245.042,1077.129,767.72,133.766,39.862,9.974,0.401
15412,2010,4129.339,3544.759,3297.642,4538.894,6370.277,6082.538,5363.187,4963.535,4289.657,...,4448.405,2928.172,1695.062,2204.005,1101.95,771.724,161.883,31.785,6.315,0.43
15413,2011,4231.732,3679.616,3251.817,4198.821,6142.98,6218.08,5475.031,5060.7,4266.189,...,4563.595,3144.809,1715.015,2059.53,1204.887,754.848,224.523,32.85,6.68,0.465
15414,2012,4375.146,3808.063,3280.106,3900.107,5795.945,6354.835,5604.029,5115.739,4367.934,...,4640.088,3354.853,1841.124,1816.412,1359.046,699.032,291.206,32.579,7.505,0.505
15415,2013,4538.032,3925.302,3366.723,3654.127,5374.861,6456.349,5745.278,5149.302,4547.054,...,4690.002,3550.559,2031.957,1555.333,1502.961,642.188,340.738,36.017,8.136,0.547
15416,2014,4683.896,4038.426,3480.951,3470.545,4952.199,6468.66,5891.364,5199.167,4727.228,...,4729.951,3724.029,2236.04,1373.791,1564.377,624.178,359.6,42.042,7.783,0.585
15417,2015,4785.527,4162.359,3596.781,3354.24,4575.931,6360.768,6033.799,5287.097,4861.981,...,4767.203,3870.985,2427.223,1313.469,1520.947,653.916,346.088,49.493,5.551,0.615
15418,2016,4874.687,4296.897,3708.271,3301.447,4232.893,6130.511,6158.972,5384.655,4943.75,...,4786.751,3982.436,2612.942,1344.909,1417.826,735.843,346.609,75.607,6.356,0.64
15419,2017,4903.2,4436.391,3820.784,3326.602,3932.832,5786.843,6292.078,5503.825,4987.679,...,4811.782,4064.966,2796.73,1452.222,1250.235,842.876,327.089,101.69,8.403,0.663
15420,2018,4880.877,4575.502,3934.114,3408.919,3684.977,5371.682,6394.767,5638.061,5012.732,...,4819.881,4126.891,2970.509,1605.123,1076.892,933.765,305.741,121.579,10.572,0.691
15421,2019,4829.595,4702.459,4054.317,3514.51,3497.025,4952.556,6408.679,5776.911,5052.778,...,4775.206,4178.726,3125.008,1767.78,964.092,962.876,301.779,129.259,11.757,0.73
15422,2020,4762.826,4802.236,4186.103,3620.95,3373.933,4575.841,6300.711,5911.074,5127.944,...,4660.894,4225.282,3255.893,1922.538,937.202,920.439,318.953,121.86,11.041,0.787

### Look into last years 2019-2020

In [31]:
def survival_rate(data, year, step=1):
    return data[data['year'] == year].iloc[:, 2:].values / data[data['year'] == year - step].iloc[:, 1:-1].values

survival_rate(data_age_ru, 2020)

array([[0.9947741706178026, 0.8922052207067493, 0.8940702648940906,
        0.9621335415457883, 1.3124025704331308, 1.2869482970994641,
        0.9337456682594609, 0.9077834862294222, 0.9345501851418423,
        0.8899160075717338, 1.1911913027838594, 0.9411208501757824,
        0.8419023050217668, 0.6668064923311541, 0.6348958532198588,
        1.0592748339118283, 0.3913530194674075, 0.5066517477089014,
        0.14959376476836617, 0.08890211977734305]], dtype=object)

### Fertility for 2020

In [69]:
def fertility(men, women, year):
    return (men[men['year'] == year]['0-4'].values + women[women['year'] == year]['0-4'].values)/ np.mean([ women[women['year'] == year]['15-19'].values,women[women['year'] == year]['20-24'].values, women[women['year'] == year]['25-29'].values, women[women['year'] == year]['30-34'].values, women[women['year'] == year]['35-39'].values, women[women['year'] == year]['40-44'].values, women[women['year'] == year]['45-49'].values]) #add +1

fertility(data_age_ru_man, data_age_ru_fem, 2020)

array([1.9117916916532829], dtype=object)

In [70]:
def newborn_men_over_women(men, women, year):
    return men[men['year'] == year]['0-4'].values / women[women['year'] == year]['0-4'].values

newborn_men_over_women(data_age_ru_man, data_age_ru_fem, 2020)

array([1.0563248178865414], dtype=object)

### Simulated population over the years independently man, women, and total.
### initial data is man, wonen, total datasets of 2019-2020. We predict 2021 by the 2019-2020, 2022 by 2020-2021 and so on

In [82]:
men = data_age_ru_man[(data_age_ru_man['year'] == 2019) | (data_age_ru_man['year'] == 2020)].reset_index(drop=True)
women = data_age_ru_fem[(data_age_ru_fem['year'] == 2019) | (data_age_ru_fem['year'] == 2020)].reset_index(drop=True)
total = data_age_ru[(data_age_ru['year'] == 2019) | (data_age_ru['year'] == 2020)].reset_index(drop=True)
women

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,2019,4570.444,4459.404,3866.509,3360.519,3355.361,4794.402,6362.169,5904.988,5402.179,...,5928.651,5831.635,4958.868,3208.37,2326.63,2587.982,1017.348,554.212,94.056,8.014
1,2020,4508.865,4548.68,3988.159,3460.825,3240.763,4417.248,6243.12,6013.65,5476.691,...,5757.121,5848.341,5171.853,3467.843,2222.135,2565.34,1070.686,546.478,91.202,8.62

In [83]:
def shift(data, year):
    return data[(data['year'] == year - 1)].iloc[0, 1:-1] * survival_rate(data, year - 1)[0]

def appends(data, newborn, shift, year):
    new_arr = np.array([year, newborn[0]])
    # print(data)
    for x in shift:
        new_arr = np.append(new_arr, np.round(x,2))
    data.loc[len(data)] = new_arr

def population_modeling(men, women, year):
    shift_women = shift(women, year)
    newborn = fertility(men, women, year - 1) * np.mean([shift_women['15-19'],shift_women['20-24'], shift_women['25-29'], shift_women['30-34'], shift_women['35-39'], shift_women['40-44'], shift_women['45-49']]) #add + 1
    newborn_women = newborn / (1 + newborn_men_over_women(men, women, year - 1) )
    newborn_men = newborn - newborn_women
    shift_men = shift(men, year)
    appends(women, newborn_women, shift_women, year)
    appends(men, newborn_men, shift_men, year)

for year in range(2021, 2100):
    population_modeling(men, women, year)

In [84]:
women

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,2019,4570.444,4459.404,3866.509,3360.519,3355.361,4794.402,6362.169,5904.988,5402.179,...,5928.651,5831.635,4958.868,3208.37,2326.63,2587.982,1017.348,554.212,94.056,8.014
1,2020,4508.865,4548.68,3988.159,3460.825,3240.763,4417.248,6243.12,6013.65,5476.691,...,5757.121,5848.341,5171.853,3467.843,2222.135,2565.34,1070.686,546.478,91.202,8.62
2,2021.0,4603.956518,4487.39,4068.0,3569.71,3337.49,4266.38,5752.0,5901.12,5577.47,...,5568.27,5679.13,5186.67,3616.79,2401.85,2450.12,1061.32,575.13,89.93,8.36
3,2022.0,4702.765443,4582.03,4013.19,3641.17,3442.49,4393.72,5555.54,5436.9,5473.1,...,5706.34,5492.84,5036.6,3627.15,2505.01,2648.27,1013.65,570.1,94.65,8.24
4,2023.0,4820.589918,4680.37,4097.83,3592.11,3511.4,4531.95,5721.36,5251.2,5042.55,...,5785.04,5629.04,4871.39,3522.2,2512.19,2762.01,1095.63,544.49,93.82,8.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2095.0,47166.122201,45462.93,39378.0,34136.22,31882.64,40650.68,51266.81,46932.06,42157.09,...,40453.89,38648.82,33196.59,22483.95,15082.15,16105.68,6453.26,3357.15,535.15,47.43
77,2096.0,48699.940952,46941.36,40658.55,35246.31,32919.45,41972.62,52933.97,48458.27,43528.02,...,41769.42,39905.66,34276.15,23215.11,15572.61,16629.44,6663.12,3466.32,552.55,48.97
78,2097.0,50283.639058,48467.87,41980.74,36392.5,33989.97,43337.55,54655.36,50034.1,44943.53,...,43127.75,41203.36,35390.79,23970.07,16079.02,17170.22,6879.81,3579.04,570.52,50.56
79,2098.0,51918.838968,50044.02,43345.93,37575.96,35095.3,44746.86,56432.73,51661.19,46405.06,...,44530.24,42543.28,36541.67,24749.56,16601.91,17728.58,7103.54,3695.43,589.07,52.2
80,2099.0,53607.213837,51671.43,44755.52,38797.91,36236.58,46202.0,58267.89,53341.19,47914.13,...,45978.35,43926.76,37729.99,25554.4,17141.79,18305.11,7334.54,3815.6,608.23,53.9

In [85]:
men

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,2019,4829.595,4702.459,4054.317,3514.51,3497.025,4952.556,6408.679,5776.911,5052.778,...,4775.206,4178.726,3125.008,1767.78,964.092,962.876,301.779,129.259,11.757,0.73
1,2020,4762.826,4802.236,4186.103,3620.95,3373.933,4575.841,6300.711,5911.074,5127.944,...,4660.894,4225.282,3255.893,1922.538,937.202,920.439,318.953,121.86,11.041,0.787
2,2021.0,4863.27353,4735.85,4274.92,3738.65,3476.12,4414.78,5821.45,5811.49,5247.04,...,4531.83,4124.13,3292.17,2003.06,1019.25,894.77,304.9,128.79,10.41,0.74
3,2022.0,4967.64785,4835.73,4215.82,3817.97,3589.11,4548.49,5616.55,5369.44,5158.64,...,4649.99,4009.93,3213.36,2025.38,1061.94,973.1,296.4,123.12,11.0,0.7
4,2023.0,5092.108767,4939.51,4304.73,3765.19,3665.26,4696.34,5786.66,5180.45,4766.25,...,4719.16,4114.48,3124.38,1976.9,1073.77,1013.86,322.35,119.69,10.52,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2095.0,49822.745444,47980.2,41366.37,35781.17,33267.89,42160.13,51947.43,46404.76,39894.33,...,33353.31,28582.85,21569.02,12851.77,6599.07,6101.96,1957.65,765.66,63.33,4.13
77,2096.0,51442.956257,49540.49,42711.58,36944.75,34349.75,43531.15,53636.73,47913.8,41191.66,...,34437.96,29512.35,22270.42,13269.71,6813.67,6300.39,2021.31,790.56,65.39,4.26
78,2097.0,53115.855871,51151.52,44100.54,38146.17,35466.78,44946.77,55380.96,49471.93,42531.17,...,35557.87,30472.09,22994.64,13701.23,7035.25,6505.28,2087.04,816.27,67.52,4.4
79,2098.0,54843.158118,52814.94,45534.67,39386.67,36620.14,46408.41,57181.93,51080.72,43914.26,...,36714.2,31463.03,23742.42,14146.79,7264.03,6716.83,2154.91,842.81,69.72,4.54
80,2099.0,56626.630394,54532.46,47015.43,40667.51,37811.01,47917.59,59041.45,52741.85,45342.32,...,37908.11,32486.2,24514.51,14606.84,7500.25,6935.26,2224.99,870.22,71.99,4.69

In [87]:
total = women.iloc[:, 1:] + men.iloc[:, 1:]
total.insert(0, "year", women['year'])
total

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,2019,9400.039,9161.863,7920.826,6875.029,6852.386,9746.958,12770.848,11681.899,10454.957,...,10703.857,10010.361,8083.876,4976.15,3290.722,3550.858,1319.127,683.471,105.813,8.744
1,2020,9271.691,9350.916,8174.262,7081.775,6614.696,8993.089,12543.831,11924.724,10604.635,...,10418.015,10073.623,8427.746,5390.381,3159.337,3485.779,1389.639,668.338,102.243,9.407
2,2021.0,9467.230048,9223.24,8342.92,7308.36,6813.61,8681.16,11573.45,11712.61,10824.51,...,10100.1,9803.26,8478.84,5619.85,3421.1,3344.89,1366.22,703.92,100.34,9.1
3,2022.0,9670.413292,9417.76,8229.01,7459.14,7031.6,8942.21,11172.09,10806.34,10631.74,...,10356.33,9502.77,8249.96,5652.53,3566.95,3621.37,1310.05,693.22,105.65,8.94
4,2023.0,9912.698684,9619.88,8402.56,7357.3,7176.66,9228.29,11508.02,10431.65,9808.8,...,10504.2,9743.52,7995.77,5499.1,3585.96,3775.87,1417.98,664.18,104.34,9.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2095.0,96988.867645,93443.13,80744.37,69917.39,65150.53,82810.81,103214.24,93336.82,82051.42,...,73807.2,67231.67,54765.61,35335.72,21681.22,22207.64,8410.91,4122.81,598.48,51.56
77,2096.0,100142.897209,96481.85,83370.13,72191.06,67269.2,85503.77,106570.7,96372.07,84719.68,...,76207.38,69418.01,56546.57,36484.82,22386.28,22929.83,8684.43,4256.88,617.94,53.23
78,2097.0,103399.494929,99619.39,86081.28,74538.67,69456.75,88284.32,110036.32,99506.03,87474.7,...,78685.62,71675.45,58385.43,37671.3,23114.27,23675.5,8966.85,4395.31,638.04,54.96
79,2098.0,106761.997086,102858.96,88880.6,76962.63,71715.44,91155.27,113614.66,102741.91,90319.32,...,81244.44,74006.31,60284.09,38896.35,23865.94,24445.41,9258.45,4538.24,658.79,56.74
80,2099.0,110233.844231,106203.89,91770.95,79465.42,74047.59,94119.59,117309.34,106083.04,93256.45,...,83886.46,76412.96,62244.5,40161.24,24642.04,25240.37,9559.53,4685.82,680.22,58.59