In [2]:
import pandas as pd
import numpy as np

In [3]:
names = ['year', '0-4',	'5-9',	'10-14',	'15-19',	'20-24',	'25-29',	'30-34',	'35-39',	'40-44',	'45-49',	'50-54',	'55-59',	'60-64',	'65-69',	'70-74',	'75-79',	'80-84',	'85-89',	'90-94',	'95-99',	'100+']

# years = [1950	1951	1952	1953	1954	1955	1956	1957	1958	1959	1960	1961	1962	1963	1964	1965	1966	1967	1968	1969	1970	1971	1972	1973	1974	1975	1976	1977	1978	1979	1980	1981	1982	1983	1984	1985	1986	1987	1988	1989	1990	1991	1992	1993	1994	1995	1996	1997	1998	1999	2000	2001	2002	2003	2004	2005	2006	2007	2008	2009	2010	2011	2012	2013	2014	2015	2016	2017	2018	2019	2020
#          ]

In [4]:
data_total = pd.read_excel('TOTAL_POPULATION.xlsx')
data_total

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,285,Estimates,Bermuda,14,60,Country/Area,918,37.256,37.8,38.437,...,65.076,64.737,64.381,64.038,63.695,63.36,63.04,62.763,62.508,62.273
301,286,Estimates,Canada,NaN,124,Country/Area,918,13733.398,14078.449,14445.453,...,34539.156,34922.031,35296.535,35664.338,36026.668,36382.942,36732.091,37074.558,37411.038,37742.157
302,287,Estimates,Greenland,26,304,Country/Area,918,22.993,23.466,23.936,...,56.555,56.477,56.412,56.383,56.378,56.408,56.473,56.565,56.66,56.772
303,288,Estimates,Saint Pierre and Miquelon,2,666,Country/Area,918,4.567,4.609,4.648,...,6.323,6.251,6.168,6.073,5.992,5.933,5.885,5.845,5.821,5.795
304,289,Estimates,United States of America,35,840,Country/Area,918,158804.397,160872.264,163266.026,...,311584.051,314043.885,316400.539,318673.422,320878.312,323015.992,325084.758,327096.263,329064.917,331002.647

In [5]:
data_total_ru = data_total[data_total['Unnamed: 2'] == "Russian Federation"].iloc[:, 7:]
data_total_ru

,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
255,102798.649,104304.698,105967.087,107727.31,109536.504,111355.301,113154.332,114913.78,116622.392,118275.873,...,143703.027,143993.888,144325.456,144664.837,144985.059,145275.374,145530.091,145734.034,145872.26,145934.46

In [6]:
data_age = pd.read_excel('BY_AGE_BOTH_SEXES.xlsx')
data_age

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18116,18101,Estimates,United States of America,29,840,Country/Area,918,2016,19595.177,20982.232,...,21712.261,19335.488,16223.362,11749.586,8338.62,5816.43,3923.122,1915.769,524.046,70.249
18117,18102,Estimates,United States of America,29,840,Country/Area,918,2017,19474.782,20836.548,...,21780.7,19735.15,16657.346,12400.319,8582.499,5920.16,3902.179,1993.112,594.137,76.235
18118,18103,Estimates,United States of America,29,840,Country/Area,918,2018,19511.521,20583.423,...,21772.121,20111.237,17037.068,13093.39,8874.073,6064.571,3868.698,2037.048,648.457,82.906
18119,18104,Estimates,United States of America,29,840,Country/Area,918,2019,19604.096,20287.749,...,21691.222,20429.652,17415.446,13758.858,9250.376,6245.265,3862.946,2053.727,663.522,89.949
18120,18105,Estimates,United States of America,29,840,Country/Area,918,2020,19676.332,20045.152,...,21542.27,20669.143,17819.027,14354.863,9727.734,6461.202,3911.104,2051.136,626.636,97.104

In [15]:
data_age_ru = data_age[(data_age['Unnamed: 2'] == "Russian Federation")].iloc[:, 7:]
data_age_ru.set_axis(names, axis=1, inplace=True)
data_age_ru

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
15352,1950,11108.268,6930.349,12663.863,10156.782,12150.037,8012.741,6071.509,7567.6,6717.819,...,3576.965,2925.752,2205.274,1389.655,809.149,354.611,140.334,45.052,15.382,6.039
15353,1951,12686.585,6435.89,11899.261,10355.37,11968.646,8767.421,6049.812,7272.755,6872.844,...,3625.957,2964.562,2263.861,1448.024,853.696,383.131,146.248,47.875,14.025,4.925
15354,1952,13005.504,6788.609,10664.257,11168.958,11440.307,9795.572,6262.422,6890.648,7133.446,...,3718.603,3036.685,2341.294,1531.507,895.5,425.108,148.859,50.285,13.786,4.051
15355,1953,12927.173,7918.495,9050.905,12168.358,10691.854,10835.556,6647.447,6445.798,7369.749,...,3825.524,3113.778,2416.419,1624.045,928.07,475.238,148.502,51.301,13.54,3.335
15356,1954,12806.662,9425.934,7606.133,12773.213,10118.587,11581.136,7173.936,6083.438,7464.851,...,3946.366,3188.116,2484.703,1712.954,958.436,523.71,149.885,49.621,12.178,2.749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15418,2016,9484.077,8387.989,7246.922,6456.787,8277.188,12122.168,12294.428,10981.797,10183.008,...,10855.918,9636.816,6722.995,3955.771,4723.105,2692.682,1540.587,466.496,61.224,8.141
15419,2017,9538.812,8655.908,7467.444,6508.584,7692.7,11428.628,12552.139,11197.999,10291.629,...,10870.328,9816.236,7201.596,4184.257,4219.167,3049.764,1446.947,569.576,79.171,8.236
15420,2018,9497.26,8921.018,7688.159,6669.614,7214.019,10590.506,12750.914,11435.249,10362.416,...,10843.485,9930.147,7667.532,4557.114,3673.876,3388.384,1347.123,648.16,96.544,8.39
15421,2019,9400.039,9161.863,7920.826,6875.029,6852.386,9746.958,12770.848,11681.899,10454.957,...,10703.857,10010.361,8083.876,4976.15,3290.722,3550.858,1319.127,683.471,105.813,8.744
15422,2020,9271.691,9350.916,8174.262,7081.775,6614.696,8993.089,12543.831,11924.724,10604.635,...,10418.015,10073.623,8427.746,5390.381,3159.337,3485.779,1389.639,668.338,102.243,9.407

In [8]:
data_age_ru_fem = pd.read_excel('BY_AGE_FEMALE.xlsx')
data_age_ru_fem = data_age_ru_fem[data_age_ru_fem['Unnamed: 2'] == "Russian Federation"].iloc[:, 7:]
data_age_ru_fem.set_axis(names, axis=1, inplace=True)
data_age_ru_fem

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
15352,1950,5457.85,3448.536,6255.687,5169.042,6403.152,4814.104,3695.944,4673.846,4166.71,...,2306.667,1928.282,1470.258,940.708,561.084,254.333,103.803,33.562,11.574,4.585
15353,1951,6226.909,3210.204,5883.537,5229.66,6232.092,5131.915,3694.042,4493.127,4254.584,...,2354.466,1956.954,1516.508,982.87,592.199,274.106,108.189,35.804,10.58,3.753
15354,1952,6379.796,3377.305,5276.934,5592.452,5903.415,5541.075,3844.682,4243.621,4414.697,...,2432.48,2002.785,1575.588,1042.247,621.649,303.384,110.328,37.725,10.394,3.1
15355,1953,6341.065,3920.981,4488.445,6055.29,5483.523,5926.949,4092.658,3951.752,4567.535,...,2523.018,2051.806,1634.01,1109.278,645.725,338.814,110.55,38.684,10.222,2.566
15356,1954,6284.242,4649.835,3783.667,6337.255,5160.673,6169.647,4384.702,3717.117,4634.117,...,2623.942,2103.45,1687.353,1175.833,669.611,373.829,112.253,37.784,9.262,2.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15418,2016,4609.39,4091.092,3538.651,3155.34,4044.295,5991.657,6135.456,5597.142,5239.258,...,6069.167,5654.38,4110.053,2610.862,3305.279,1956.839,1193.978,390.889,54.868,7.501
15419,2017,4635.612,4219.517,3646.66,3181.982,3759.868,5641.785,6260.061,5694.174,5303.95,...,6058.546,5751.27,4404.866,2732.035,2968.932,2206.888,1119.858,467.886,70.768,7.573
15420,2018,4616.383,4345.516,3754.045,3260.695,3529.042,5218.824,6356.147,5797.188,5349.684,...,6023.604,5803.256,4697.023,2951.991,2596.984,2454.619,1041.382,526.581,85.972,7.699
15421,2019,4570.444,4459.404,3866.509,3360.519,3355.361,4794.402,6362.169,5904.988,5402.179,...,5928.651,5831.635,4958.868,3208.37,2326.63,2587.982,1017.348,554.212,94.056,8.014
15422,2020,4508.865,4548.68,3988.159,3460.825,3240.763,4417.248,6243.12,6013.65,5476.691,...,5757.121,5848.341,5171.853,3467.843,2222.135,2565.34,1070.686,546.478,91.202,8.62

In [9]:
data_age_ru_man = pd.read_excel('BY_AGE_MALE.xlsx')
data_age_ru_man = data_age_ru_man[data_age_ru_man['Unnamed: 2'] == "Russian Federation"].iloc[:, 7:]
data_age_ru_man.set_axis(names, axis=1, inplace=True)
data_age_ru_man

,year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
15352,1950,5650.418,3481.813,6408.176,4987.74,5746.885,3198.637,2375.565,2893.754,2551.109,...,1270.298,997.47,735.016,448.947,248.065,100.278,36.531,11.49,3.808,1.454
15353,1951,6459.676,3225.686,6015.724,5125.71,5736.554,3635.506,2355.77,2779.628,2618.26,...,1271.491,1007.608,747.353,465.154,261.497,109.025,38.059,12.071,3.445,1.172
15354,1952,6625.708,3411.304,5387.323,5576.506,5536.892,4254.497,2417.74,2647.027,2718.749,...,1286.123,1033.9,765.706,489.26,273.851,121.724,38.531,12.56,3.392,0.951
15355,1953,6586.108,3997.514,4562.46,6113.068,5208.331,4908.607,2554.789,2494.046,2802.214,...,1302.506,1061.972,782.409,514.767,282.345,136.424,37.952,12.617,3.318,0.769
15356,1954,6522.42,4776.099,3822.466,6435.958,4957.914,5411.489,2789.234,2366.321,2830.734,...,1322.424,1084.666,797.35,537.121,288.825,149.881,37.632,11.837,2.916,0.619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15418,2016,4874.687,4296.897,3708.271,3301.447,4232.893,6130.511,6158.972,5384.655,4943.75,...,4786.751,3982.436,2612.942,1344.909,1417.826,735.843,346.609,75.607,6.356,0.64
15419,2017,4903.2,4436.391,3820.784,3326.602,3932.832,5786.843,6292.078,5503.825,4987.679,...,4811.782,4064.966,2796.73,1452.222,1250.235,842.876,327.089,101.69,8.403,0.663
15420,2018,4880.877,4575.502,3934.114,3408.919,3684.977,5371.682,6394.767,5638.061,5012.732,...,4819.881,4126.891,2970.509,1605.123,1076.892,933.765,305.741,121.579,10.572,0.691
15421,2019,4829.595,4702.459,4054.317,3514.51,3497.025,4952.556,6408.679,5776.911,5052.778,...,4775.206,4178.726,3125.008,1767.78,964.092,962.876,301.779,129.259,11.757,0.73
15422,2020,4762.826,4802.236,4186.103,3620.95,3373.933,4575.841,6300.711,5911.074,5127.944,...,4660.894,4225.282,3255.893,1922.538,937.202,920.439,318.953,121.86,11.041,0.787

### Look into last5 years 2015-2020

In [10]:
def survival_rate(start_previous, start_next):
    return start_next/start_previous

(data_age_ru_man[data_age_ru_man['year'] == 2020].iloc[:, 1:]).reset_index(drop=True) / (data_age_ru_man[data_age_ru_man['year'] == 2015].iloc[:, 1:]).reset_index(drop=True)

,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,0.995256,1.153729,1.163847,1.079514,0.737322,0.719385,1.044236,1.118019,1.054703,1.127253,...,0.9777,1.091526,1.341407,1.46371,0.616196,1.40758,0.921595,2.462166,1.989011,1.279675

### Fertility for 2020

In [24]:
data_age_ru[data_age_ru['year'] == 2020]['0-4'].values / np.mean([data_age_ru_fem[data_age_ru_fem['year'] == 2020]['20-24'].values, data_age_ru_fem[data_age_ru_fem['year'] == 2020]['25-29'].values, data_age_ru_fem[data_age_ru_fem['year'] == 2020]['30-34'].values, data_age_ru_fem[data_age_ru_fem['year'] == 2020]['35-39'].values])

array([1.8622732532183008], dtype=object)

In [18]:
data_age_ru_fem[data_age_ru_fem['year'] == 2020]['0-4']

15422    4508.865
Name: 0-4, dtype: object