In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from tqdm import tqdm
from numpy.linalg import inv
from sklearn import preprocessing

In [48]:
df = pd.read_csv('train_data.csv')
df

,timestamp,lon,lat,likescount,commentscount,symbols_cnt,words_cnt,hashtags_cnt,mentions_cnt,links_cnt,emoji_cnt
0,1565607600,30.329370,59.940488,63,4,52,6,0,0,0,0
1,1565568000,30.342845,59.869542,44,0,40,0,4,0,0,0
2,1565568000,30.322632,60.039332,30,0,77,7,0,0,0,1
3,1565568000,30.322632,59.938238,13,0,634,17,32,0,0,7
4,1565568000,30.309158,59.932612,8,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8526521,1565978400,30.324878,59.932612,48,0,15,2,0,0,0,1
8526522,1565978400,30.324878,59.932612,20,1,0,0,0,0,0,0
8526523,1565978400,30.324878,59.932612,54,2,75,7,0,0,0,6
8526524,1565971200,30.324878,59.932612,15,0,350,4,25,0,0,0
8526525,1565967600,30.324878,59.932612,61,5,37,1,1,0,0,1

In [49]:
sorted(df.lat.unique())

[-1.3900065324650763,
 0.0,
 35.032142207354845,
 41.30376021953485,
 42.289870330403645,
 42.99689995244231,
 43.68939181898115,
 52.11667860590217,
 54.71500653820782,
 54.77463685891882,
 55.70797485949529,
 55.72189070179645,
 55.75855416422385,
 56.9590331018085,
 57.45166050067814,
 59.656929822910136,
 59.71474042375376,
 59.74756864368603,
 59.75888124818248,
 59.80635237279253,
 59.80748181472322,
 59.8187741296651,
 59.81990315074165,
 59.82103213356388,
 59.82328998444886,
 59.82441885251328,
 59.82893394227072,
 59.83006261908929,
 59.83119125766129,
 59.83231985798753,
 59.833448420068855,
 59.8345769439062,
 59.83570542950036,
 59.83683387685223,
 59.83796228596263,
 59.83909065683245,
 59.840218989462535,
 59.84134728385376,
 59.84247554000695,
 59.84360375792299,
 59.84473193760274,
 59.84586007904705,
 59.84698818225677,
 59.84811624723277,
 59.84924427397591,
 59.85037226248704,
 59.85150021276701,
 59.852628124816725,
 59.85375599863699,
 59.85488383422868,
 59.85601163159266,
 59.85713939072978,
 59.8582671116409,
 59.85939479432693,
 59.86052243878864,
 59.86165004502693,
 59.86277761304268,
 59.86390514283672,
 59.86503263440992,
 59.86616008776313,
 59.86728750289723,
 59.86841487981305,
 59.8695422185115,
 59.87066951899336,
 59.87179678125955,
 59.87292400531091,
 59.87405119114831,
 59.87517833877261,
 59.87630544818465,
 59.87743251938528,
 59.8785595523754,
 59.87968654715585,
 59.88081350372747,
 59.88194042209115,
 59.88306730224773,
 59.88419414419808,
 59.88532094794305,
 59.88644771348351,
 59.88757444082032,
 59.88870112995431,
 59.88982778088639,
 59.890954393617385,
 59.89208096814816,
 59.89320750447957,
 59.894334002612496,
 59.89546046254779,
 59.8965868842863,
 59.89771326782888,
 59.89883961317642,
 59.89996592032976,
 59.90109218928974,
 59.90221842005726,
 59.90334461263316,
 59.904470767018296,
 59.90559688321354,
 59.90672296121975,
 59.90784900103776,
 59.90897500266847,
 59.91010096611272,
 59.911226891371385,
 59.91235277844529,
 59.91347862733533,
 59.91460443804235,
 59.91573021056722,
 59.91685594491079,
 59.9179816410739,
 59.919107299057465,
 59.92023291886231,
 59.92135850048929,
 59.92248404393929,
 59.92360954921317,
 59.92473501631175,
 59.92586044523594,
 59.92698583598656,
 59.92811118856449,
 59.9292365029706,
 59.930361779205725,
 59.93148701727075,
 59.932612217166536,
 59.93373737889392,
 59.93486250245378,
 59.935987587847,
 59.93711263507439,
 59.93823764413683,
 59.93936261503522,
 59.94048754777036,
 59.94161244234315,
 59.94273729875442,
 59.94386211700508,
 59.94498689709594,
 59.94611163902791,
 59.94723634280179,
 59.9483610084185,
 59.94948563587889,
 59.950610225183794,
 59.951734776334064,
 59.95285928933061,
 59.95398376417426,
 59.9551082008659,
 59.95623259940636,
 59.95735695979653,
 59.958481282037226,
 59.95960556612937,
 59.960729812073794,
 59.96185401987135,
 59.96297818952292,
 59.96410232102935,
 59.96522641439151,
 59.96635046961026,
 59.96747448668645,
 59.96859846562096,
 59.969722406414654,
 59.97084630906837,
 59.971970173582974,
 59.97309399995937,
 59.97421778819836,
 59.975341538300846,
 59.97646525026767,
 59.977588924099706,
 59.97871255979781,
 59.97983615736284,
 59.98095971679568,
 59.982083238097154,
 59.98320672126816,
 59.984330166309526,
 59.98545357322217,
 59.98657694200688,
 59.987700272664576,
 59.988823565196114,
 59.98994681960231,
 59.99107003588408,
 59.99219321404225,
 59.9933163540777,
 59.9944394559913,
 59.99556251978391,
 59.99668554545638,
 59.99780853300957,
 59.99893148244436,
 60.00005439376158,
 60.00117726696214,
 60.00230010204685,
 60.00342289901664,
 60.004545657872285,
 60.00566837861474,
 60.00679106124481,
 60.00791370576335,
 60.00903631217126,
 60.010158880469376,
 60.0112814106586,
 60.01240390273974,
 60.013526356713705,
 60.01464877258133,
 60.01577115034348,
 60.01689349000102,
 60.01801579155483,
 60.01913805500574,
 60.020260280354655,
 60.02138246760239,
 60.022504616749856,
 60.0236267277979,
 60.02474880074738,
 60.025870835599136,
 60.02699283235407,
 60.02811479101304,
 60.02923671157687,
 60.03035859404648,
 60.03148043842269,
 60.03260224470638,
 60.033724012898425,
 60.03484574299966,
 60.035967435010974,
 60.03708908893322,
 60.03821070476726,
 60.03933228251395,
 60.04045382217418,
 60.04157532374879,
 60.04269678723865,
 60.04942476844644,
 60.05278824497618,
 60.05503037228068,
 60.05951417000399,
 60.06063502425536,
 60.07296190858619,
 60.11662921549629,
 60.1792298512455,
 60.374089897957774]

In [50]:
sorted(df.lon.unique())

[-48.41021066120101,
 0.0,
 18.84665466082756,
 20.486080054345685,
 23.69081983044208,
 24.000738603463308,
 29.40635082565253,
 30.08907044158337,
 30.091316229793676,
 30.09356201800397,
 30.09580780621427,
 30.098053594424574,
 30.100299382634866,
 30.102545170845165,
 30.104790959055453,
 30.107036747265763,
 30.10928253547606,
 30.11152832368636,
 30.113774111896657,
 30.11601990010696,
 30.120511476527557,
 30.12275726473785,
 30.125003052948152,
 30.127248841158448,
 30.12949462936875,
 30.13174041757905,
 30.13398620578934,
 30.136231993999644,
 30.138477782209943,
 30.140723570420235,
 30.142969358630538,
 30.14521514684084,
 30.14746093505114,
 30.14970672326144,
 30.15195251147173,
 30.15419829968204,
 30.15644408789233,
 30.158689876102628,
 30.16093566431293,
 30.163181452523236,
 30.16542724073353,
 30.16767302894383,
 30.16991881715413,
 30.17216460536443,
 30.174410393574725,
 30.176656181785024,
 30.178901969995323,
 30.181147758205626,
 30.18339354641592,
 30.185639334626217,
 30.18788512283652,
 30.19013091104681,
 30.19237669925711,
 30.19462248746741,
 30.19686827567771,
 30.19911406388801,
 30.201359852098307,
 30.20360564030861,
 30.205851428518912,
 30.20809721672921,
 30.210343004939503,
 30.2125887931498,
 30.2148345813601,
 30.2170803695704,
 30.2193261577807,
 30.221571945991,
 30.223817734201297,
 30.226063522411604,
 30.228309310621896,
 30.2305550988322,
 30.23280088704249,
 30.2350466752528,
 30.23729246346309,
 30.239538251673387,
 30.24178403988369,
 30.244029828093986,
 30.246275616304285,
 30.248521404514584,
 30.250767192724886,
 30.253012980935186,
 30.25525876914548,
 30.25750455735578,
 30.259750345566086,
 30.26199613377639,
 30.264241921986677,
 30.26648771019697,
 30.26873349840727,
 30.27097928661757,
 30.27322507482787,
 30.275470863038173,
 30.27771665124847,
 30.27996243945877,
 30.282208227669077,
 30.28445401587937,
 30.28669980408967,
 30.288945592299964,
 30.291191380510263,
 30.29343716872056,
 30.295682956930857,
 30.29792874514116,
 30.300174533351456,
 30.302420321561755,
 30.304666109772054,
 30.306911897982356,
 30.30915768619265,
 30.31140347440295,
 30.31364926261325,
 30.315895050823546,
 30.31814083903384,
 30.320386627244144,
 30.322632415454446,
 30.324878203664746,
 30.32712399187504,
 30.32936978008534,
 30.331615568295646,
 30.333861356505945,
 30.33610714471624,
 30.33835293292654,
 30.340598721136843,
 30.342844509347128,
 30.34509029755743,
 30.347336085767733,
 30.349581873978032,
 30.35182766218833,
 30.354073450398623,
 30.35631923860893,
 30.358565026819228,
 30.36081081502953,
 30.363056603239823,
 30.365302391450125,
 30.367548179660425,
 30.36979396787072,
 30.37203975608101,
 30.374285544291315,
 30.37653133250161,
 30.378777120711916,
 30.38102290892221,
 30.383268697132515,
 30.385514485342807,
 30.387760273553116,
 30.39000606176341,
 30.39225184997371,
 30.394497638184003,
 30.396743426394305,
 30.3989892146046,
 30.4012350028149,
 30.4034807910252,
 30.405726579235505,
 30.407972367445804,
 30.4102181556561,
 30.4124639438664,
 30.414709732076695,
 30.416955520287,
 30.419201308497296,
 30.421447096707592,
 30.423692884917887,
 30.425938673128183,
 30.42818446133849,
 30.430430249548788,
 30.43267603775909,
 30.434921825969383,
 30.43716761417968,
 30.439413402389984,
 30.441659190600287,
 30.443904978810583,
 30.44615076702088,
 30.44839655523117,
 30.45064234344148,
 30.45288813165177,
 30.455133919862075,
 30.45737970807237,
 30.45962549628268,
 30.461871284492968,
 30.46411707270327,
 30.466362860913573,
 30.46860864912387,
 30.47085443733417,
 30.473100225544467,
 30.475346013754763,
 30.477591801965065,
 30.47983759017536,
 30.48208337838566,
 30.48432916659596,
 30.48657495480625,
 30.48882074301656,
 30.491066531226853,
 30.493312319437155,
 30.495558107647447,
 30.497803895857757,
 30.50004968406805,
 30.50229547227835,
 30.504541260488647,
 30.506787048698943,
 30.509032836909245,
 30.511278625119548,
 30.513524413329844,
 30.515770201540143,
 30.51801598975044,
 30.52026177796074,
 30.52250756617104,
 30.524753354381343,
 30.52699914259164,
 30.52924493080193,
 30.53149071901224,
 30.53373650722253,
 30.53598229543283,
 30.53822808364313,
 30.54047387185343,
 30.542719660063728,
 30.547211236484326,
 30.549457024694625,
 30.551702812904924,
 30.553948601115216,
 30.55619438932552,
 30.55844017753581,
 30.56068596574612,
 30.562931753956413,
 30.565177542166715,
 30.56742333037701,
 30.56966911858732,
 30.57416069500791,
 30.58988121248,
 30.61009330637269,
 31.077217254114853,
 32.047397760963925,
 37.62144409892555,
 37.63941040460795,
 37.81233609680096,
 40.25126209318545,
 41.021567449317935,
 62.09828980297222,
 69.28930365234899,
 137.13681127368616]

In [51]:
# нижняя и верхняя граница по широте должна быть 59.656929822910136 и 60.374089897957774
# по долготе 30.08907044158337 и 30.61009330637269
true_lon = sorted(df.lon.unique()[(df.lon.unique() >= 30.08907044158337) & (df.lon.unique() <= 30.61009330637269)])
true_lon

[30.08907044158337,
 30.091316229793676,
 30.09356201800397,
 30.09580780621427,
 30.098053594424574,
 30.100299382634866,
 30.102545170845165,
 30.104790959055453,
 30.107036747265763,
 30.10928253547606,
 30.11152832368636,
 30.113774111896657,
 30.11601990010696,
 30.120511476527557,
 30.12275726473785,
 30.125003052948152,
 30.127248841158448,
 30.12949462936875,
 30.13174041757905,
 30.13398620578934,
 30.136231993999644,
 30.138477782209943,
 30.140723570420235,
 30.142969358630538,
 30.14521514684084,
 30.14746093505114,
 30.14970672326144,
 30.15195251147173,
 30.15419829968204,
 30.15644408789233,
 30.158689876102628,
 30.16093566431293,
 30.163181452523236,
 30.16542724073353,
 30.16767302894383,
 30.16991881715413,
 30.17216460536443,
 30.174410393574725,
 30.176656181785024,
 30.178901969995323,
 30.181147758205626,
 30.18339354641592,
 30.185639334626217,
 30.18788512283652,
 30.19013091104681,
 30.19237669925711,
 30.19462248746741,
 30.19686827567771,
 30.19911406388801,
 30.201359852098307,
 30.20360564030861,
 30.205851428518912,
 30.20809721672921,
 30.210343004939503,
 30.2125887931498,
 30.2148345813601,
 30.2170803695704,
 30.2193261577807,
 30.221571945991,
 30.223817734201297,
 30.226063522411604,
 30.228309310621896,
 30.2305550988322,
 30.23280088704249,
 30.2350466752528,
 30.23729246346309,
 30.239538251673387,
 30.24178403988369,
 30.244029828093986,
 30.246275616304285,
 30.248521404514584,
 30.250767192724886,
 30.253012980935186,
 30.25525876914548,
 30.25750455735578,
 30.259750345566086,
 30.26199613377639,
 30.264241921986677,
 30.26648771019697,
 30.26873349840727,
 30.27097928661757,
 30.27322507482787,
 30.275470863038173,
 30.27771665124847,
 30.27996243945877,
 30.282208227669077,
 30.28445401587937,
 30.28669980408967,
 30.288945592299964,
 30.291191380510263,
 30.29343716872056,
 30.295682956930857,
 30.29792874514116,
 30.300174533351456,
 30.302420321561755,
 30.304666109772054,
 30.306911897982356,
 30.30915768619265,
 30.31140347440295,
 30.31364926261325,
 30.315895050823546,
 30.31814083903384,
 30.320386627244144,
 30.322632415454446,
 30.324878203664746,
 30.32712399187504,
 30.32936978008534,
 30.331615568295646,
 30.333861356505945,
 30.33610714471624,
 30.33835293292654,
 30.340598721136843,
 30.342844509347128,
 30.34509029755743,
 30.347336085767733,
 30.349581873978032,
 30.35182766218833,
 30.354073450398623,
 30.35631923860893,
 30.358565026819228,
 30.36081081502953,
 30.363056603239823,
 30.365302391450125,
 30.367548179660425,
 30.36979396787072,
 30.37203975608101,
 30.374285544291315,
 30.37653133250161,
 30.378777120711916,
 30.38102290892221,
 30.383268697132515,
 30.385514485342807,
 30.387760273553116,
 30.39000606176341,
 30.39225184997371,
 30.394497638184003,
 30.396743426394305,
 30.3989892146046,
 30.4012350028149,
 30.4034807910252,
 30.405726579235505,
 30.407972367445804,
 30.4102181556561,
 30.4124639438664,
 30.414709732076695,
 30.416955520287,
 30.419201308497296,
 30.421447096707592,
 30.423692884917887,
 30.425938673128183,
 30.42818446133849,
 30.430430249548788,
 30.43267603775909,
 30.434921825969383,
 30.43716761417968,
 30.439413402389984,
 30.441659190600287,
 30.443904978810583,
 30.44615076702088,
 30.44839655523117,
 30.45064234344148,
 30.45288813165177,
 30.455133919862075,
 30.45737970807237,
 30.45962549628268,
 30.461871284492968,
 30.46411707270327,
 30.466362860913573,
 30.46860864912387,
 30.47085443733417,
 30.473100225544467,
 30.475346013754763,
 30.477591801965065,
 30.47983759017536,
 30.48208337838566,
 30.48432916659596,
 30.48657495480625,
 30.48882074301656,
 30.491066531226853,
 30.493312319437155,
 30.495558107647447,
 30.497803895857757,
 30.50004968406805,
 30.50229547227835,
 30.504541260488647,
 30.506787048698943,
 30.509032836909245,
 30.511278625119548,
 30.513524413329844,
 30.515770201540143,
 30.51801598975044,
 30.52026177796074,
 30.52250756617104,
 30.524753354381343,
 30.52699914259164,
 30.52924493080193,
 30.53149071901224,
 30.53373650722253,
 30.53598229543283,
 30.53822808364313,
 30.54047387185343,
 30.542719660063728,
 30.547211236484326,
 30.549457024694625,
 30.551702812904924,
 30.553948601115216,
 30.55619438932552,
 30.55844017753581,
 30.56068596574612,
 30.562931753956413,
 30.565177542166715,
 30.56742333037701,
 30.56966911858732,
 30.57416069500791,
 30.58988121248,
 30.61009330637269]

In [57]:
true_lat = sorted(df.lat.unique()[(df.lat.unique() >= 59.656929822910136) & (df.lat.unique() <= 60.374089897957774)])
true_lat

[59.656929822910136,
 59.71474042375376,
 59.74756864368603,
 59.75888124818248,
 59.80635237279253,
 59.80748181472322,
 59.8187741296651,
 59.81990315074165,
 59.82103213356388,
 59.82328998444886,
 59.82441885251328,
 59.82893394227072,
 59.83006261908929,
 59.83119125766129,
 59.83231985798753,
 59.833448420068855,
 59.8345769439062,
 59.83570542950036,
 59.83683387685223,
 59.83796228596263,
 59.83909065683245,
 59.840218989462535,
 59.84134728385376,
 59.84247554000695,
 59.84360375792299,
 59.84473193760274,
 59.84586007904705,
 59.84698818225677,
 59.84811624723277,
 59.84924427397591,
 59.85037226248704,
 59.85150021276701,
 59.852628124816725,
 59.85375599863699,
 59.85488383422868,
 59.85601163159266,
 59.85713939072978,
 59.8582671116409,
 59.85939479432693,
 59.86052243878864,
 59.86165004502693,
 59.86277761304268,
 59.86390514283672,
 59.86503263440992,
 59.86616008776313,
 59.86728750289723,
 59.86841487981305,
 59.8695422185115,
 59.87066951899336,
 59.87179678125955,
 59.87292400531091,
 59.87405119114831,
 59.87517833877261,
 59.87630544818465,
 59.87743251938528,
 59.8785595523754,
 59.87968654715585,
 59.88081350372747,
 59.88194042209115,
 59.88306730224773,
 59.88419414419808,
 59.88532094794305,
 59.88644771348351,
 59.88757444082032,
 59.88870112995431,
 59.88982778088639,
 59.890954393617385,
 59.89208096814816,
 59.89320750447957,
 59.894334002612496,
 59.89546046254779,
 59.8965868842863,
 59.89771326782888,
 59.89883961317642,
 59.89996592032976,
 59.90109218928974,
 59.90221842005726,
 59.90334461263316,
 59.904470767018296,
 59.90559688321354,
 59.90672296121975,
 59.90784900103776,
 59.90897500266847,
 59.91010096611272,
 59.911226891371385,
 59.91235277844529,
 59.91347862733533,
 59.91460443804235,
 59.91573021056722,
 59.91685594491079,
 59.9179816410739,
 59.919107299057465,
 59.92023291886231,
 59.92135850048929,
 59.92248404393929,
 59.92360954921317,
 59.92473501631175,
 59.92586044523594,
 59.92698583598656,
 59.92811118856449,
 59.9292365029706,
 59.930361779205725,
 59.93148701727075,
 59.932612217166536,
 59.93373737889392,
 59.93486250245378,
 59.935987587847,
 59.93711263507439,
 59.93823764413683,
 59.93936261503522,
 59.94048754777036,
 59.94161244234315,
 59.94273729875442,
 59.94386211700508,
 59.94498689709594,
 59.94611163902791,
 59.94723634280179,
 59.9483610084185,
 59.94948563587889,
 59.950610225183794,
 59.951734776334064,
 59.95285928933061,
 59.95398376417426,
 59.9551082008659,
 59.95623259940636,
 59.95735695979653,
 59.958481282037226,
 59.95960556612937,
 59.960729812073794,
 59.96185401987135,
 59.96297818952292,
 59.96410232102935,
 59.96522641439151,
 59.96635046961026,
 59.96747448668645,
 59.96859846562096,
 59.969722406414654,
 59.97084630906837,
 59.971970173582974,
 59.97309399995937,
 59.97421778819836,
 59.975341538300846,
 59.97646525026767,
 59.977588924099706,
 59.97871255979781,
 59.97983615736284,
 59.98095971679568,
 59.982083238097154,
 59.98320672126816,
 59.984330166309526,
 59.98545357322217,
 59.98657694200688,
 59.987700272664576,
 59.988823565196114,
 59.98994681960231,
 59.99107003588408,
 59.99219321404225,
 59.9933163540777,
 59.9944394559913,
 59.99556251978391,
 59.99668554545638,
 59.99780853300957,
 59.99893148244436,
 60.00005439376158,
 60.00117726696214,
 60.00230010204685,
 60.00342289901664,
 60.004545657872285,
 60.00566837861474,
 60.00679106124481,
 60.00791370576335,
 60.00903631217126,
 60.010158880469376,
 60.0112814106586,
 60.01240390273974,
 60.013526356713705,
 60.01464877258133,
 60.01577115034348,
 60.01689349000102,
 60.01801579155483,
 60.01913805500574,
 60.020260280354655,
 60.02138246760239,
 60.022504616749856,
 60.0236267277979,
 60.02474880074738,
 60.025870835599136,
 60.02699283235407,
 60.02811479101304,
 60.02923671157687,
 60.03035859404648,
 60.03148043842269,
 60.03260224470638,
 60.033724012898425,
 60.03484574299966,
 60.035967435010974,
 60.03708908893322,
 60.03821070476726,
 60.03933228251395,
 60.04045382217418,
 60.04157532374879,
 60.04269678723865,
 60.04942476844644,
 60.05278824497618,
 60.05503037228068,
 60.05951417000399,
 60.06063502425536,
 60.07296190858619,
 60.11662921549629,
 60.1792298512455,
 60.374089897957774]

In [53]:
# Оставим в датасете только интересующие нас долготы и широты и переведем timestamp в даты
df['timestamp']= [datetime.fromtimestamp(x) for x in df['timestamp']]
df_clear = df[(df.lat >= true_lat[0]) & (df.lat <= true_lat[-1])]
df_clear = df[(df.lon >= true_lon[0]) & (df.lon <= true_lon[-1])]
df_clear

,timestamp,lon,lat,likescount,commentscount,symbols_cnt,words_cnt,hashtags_cnt,mentions_cnt,links_cnt,emoji_cnt
0,2019-08-12 14:00:00,30.329370,59.940488,63,4,52,6,0,0,0,0
1,2019-08-12 03:00:00,30.342845,59.869542,44,0,40,0,4,0,0,0
2,2019-08-12 03:00:00,30.322632,60.039332,30,0,77,7,0,0,0,1
3,2019-08-12 03:00:00,30.322632,59.938238,13,0,634,17,32,0,0,7
4,2019-08-12 03:00:00,30.309158,59.932612,8,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8526521,2019-08-16 21:00:00,30.324878,59.932612,48,0,15,2,0,0,0,1
8526522,2019-08-16 21:00:00,30.324878,59.932612,20,1,0,0,0,0,0,0
8526523,2019-08-16 21:00:00,30.324878,59.932612,54,2,75,7,0,0,0,6
8526524,2019-08-16 19:00:00,30.324878,59.932612,15,0,350,4,25,0,0,0
8526525,2019-08-16 18:00:00,30.324878,59.932612,61,5,37,1,1,0,0,1

In [58]:
true_lat.reverse()
true_lat

[60.374089897957774,
 60.1792298512455,
 60.11662921549629,
 60.07296190858619,
 60.06063502425536,
 60.05951417000399,
 60.05503037228068,
 60.05278824497618,
 60.04942476844644,
 60.04269678723865,
 60.04157532374879,
 60.04045382217418,
 60.03933228251395,
 60.03821070476726,
 60.03708908893322,
 60.035967435010974,
 60.03484574299966,
 60.033724012898425,
 60.03260224470638,
 60.03148043842269,
 60.03035859404648,
 60.02923671157687,
 60.02811479101304,
 60.02699283235407,
 60.025870835599136,
 60.02474880074738,
 60.0236267277979,
 60.022504616749856,
 60.02138246760239,
 60.020260280354655,
 60.01913805500574,
 60.01801579155483,
 60.01689349000102,
 60.01577115034348,
 60.01464877258133,
 60.013526356713705,
 60.01240390273974,
 60.0112814106586,
 60.010158880469376,
 60.00903631217126,
 60.00791370576335,
 60.00679106124481,
 60.00566837861474,
 60.004545657872285,
 60.00342289901664,
 60.00230010204685,
 60.00117726696214,
 60.00005439376158,
 59.99893148244436,
 59.99780853300957,
 59.99668554545638,
 59.99556251978391,
 59.9944394559913,
 59.9933163540777,
 59.99219321404225,
 59.99107003588408,
 59.98994681960231,
 59.988823565196114,
 59.987700272664576,
 59.98657694200688,
 59.98545357322217,
 59.984330166309526,
 59.98320672126816,
 59.982083238097154,
 59.98095971679568,
 59.97983615736284,
 59.97871255979781,
 59.977588924099706,
 59.97646525026767,
 59.975341538300846,
 59.97421778819836,
 59.97309399995937,
 59.971970173582974,
 59.97084630906837,
 59.969722406414654,
 59.96859846562096,
 59.96747448668645,
 59.96635046961026,
 59.96522641439151,
 59.96410232102935,
 59.96297818952292,
 59.96185401987135,
 59.960729812073794,
 59.95960556612937,
 59.958481282037226,
 59.95735695979653,
 59.95623259940636,
 59.9551082008659,
 59.95398376417426,
 59.95285928933061,
 59.951734776334064,
 59.950610225183794,
 59.94948563587889,
 59.9483610084185,
 59.94723634280179,
 59.94611163902791,
 59.94498689709594,
 59.94386211700508,
 59.94273729875442,
 59.94161244234315,
 59.94048754777036,
 59.93936261503522,
 59.93823764413683,
 59.93711263507439,
 59.935987587847,
 59.93486250245378,
 59.93373737889392,
 59.932612217166536,
 59.93148701727075,
 59.930361779205725,
 59.9292365029706,
 59.92811118856449,
 59.92698583598656,
 59.92586044523594,
 59.92473501631175,
 59.92360954921317,
 59.92248404393929,
 59.92135850048929,
 59.92023291886231,
 59.919107299057465,
 59.9179816410739,
 59.91685594491079,
 59.91573021056722,
 59.91460443804235,
 59.91347862733533,
 59.91235277844529,
 59.911226891371385,
 59.91010096611272,
 59.90897500266847,
 59.90784900103776,
 59.90672296121975,
 59.90559688321354,
 59.904470767018296,
 59.90334461263316,
 59.90221842005726,
 59.90109218928974,
 59.89996592032976,
 59.89883961317642,
 59.89771326782888,
 59.8965868842863,
 59.89546046254779,
 59.894334002612496,
 59.89320750447957,
 59.89208096814816,
 59.890954393617385,
 59.88982778088639,
 59.88870112995431,
 59.88757444082032,
 59.88644771348351,
 59.88532094794305,
 59.88419414419808,
 59.88306730224773,
 59.88194042209115,
 59.88081350372747,
 59.87968654715585,
 59.8785595523754,
 59.87743251938528,
 59.87630544818465,
 59.87517833877261,
 59.87405119114831,
 59.87292400531091,
 59.87179678125955,
 59.87066951899336,
 59.8695422185115,
 59.86841487981305,
 59.86728750289723,
 59.86616008776313,
 59.86503263440992,
 59.86390514283672,
 59.86277761304268,
 59.86165004502693,
 59.86052243878864,
 59.85939479432693,
 59.8582671116409,
 59.85713939072978,
 59.85601163159266,
 59.85488383422868,
 59.85375599863699,
 59.852628124816725,
 59.85150021276701,
 59.85037226248704,
 59.84924427397591,
 59.84811624723277,
 59.84698818225677,
 59.84586007904705,
 59.84473193760274,
 59.84360375792299,
 59.84247554000695,
 59.84134728385376,
 59.840218989462535,
 59.83909065683245,
 59.83796228596263,
 59.83683387685223,
 59.83570542950036,
 59.8345769439062,
 59.833448420068855,
 59.83231985798753,
 59.83119125766129,
 59.83006261908929,
 59.82893394227072,
 59.82441885251328,
 59.82328998444886,
 59.82103213356388,
 59.81990315074165,
 59.8187741296651,
 59.80748181472322,
 59.80635237279253,
 59.75888124818248,
 59.74756864368603,
 59.71474042375376,
 59.656929822910136]

In [ ]:
# добавим сетку в наш датасет

# y = 0
# for latitude in tqdm(true_lat):
#     x = 0
#     for longitude in true_lon:
#         for index, row in df_clear.iterrows():
#             if (row.lat == latitude) & (row.lon == longitude):
#                 df_clear['x'] = x
#                 df_clear['y'] = y
#         x += 1
#     y += 1

In [14]:
df_clear["x"] = np.nan
df_clear['y'] = np.nan
df_clear

C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\597042464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear["x"] = np.nan
C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\597042464.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear['y'] = np.nan

,timestamp,lon,lat,likescount,commentscount,symbols_cnt,words_cnt,hashtags_cnt,mentions_cnt,links_cnt,emoji_cnt,x,y
0,2019-08-12 14:00:00,30.329370,59.940488,63,4,52,6,0,0,0,0,NaN,NaN
1,2019-08-12 03:00:00,30.342845,59.869542,44,0,40,0,4,0,0,0,NaN,NaN
2,2019-08-12 03:00:00,30.322632,60.039332,30,0,77,7,0,0,0,1,NaN,NaN
3,2019-08-12 03:00:00,30.322632,59.938238,13,0,634,17,32,0,0,7,NaN,NaN
4,2019-08-12 03:00:00,30.309158,59.932612,8,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8526521,2019-08-16 21:00:00,30.324878,59.932612,48,0,15,2,0,0,0,1,NaN,NaN
8526522,2019-08-16 21:00:00,30.324878,59.932612,20,1,0,0,0,0,0,0,NaN,NaN
8526523,2019-08-16 21:00:00,30.324878,59.932612,54,2,75,7,0,0,0,6,NaN,NaN
8526524,2019-08-16 19:00:00,30.324878,59.932612,15,0,350,4,25,0,0,0,NaN,NaN
8526525,2019-08-16 18:00:00,30.324878,59.932612,61,5,37,1,1,0,0,1,NaN,NaN

In [38]:
flag = False
df_clear["x"] = np.nan
df_clear['y'] = np.nan
for index, row in tqdm(df_clear.iterrows()):
    flag = False
    if (index+1) % 100 == 0:
        save_df = df_clear
        save_df.to_csv('clear_data.csv', encoding='utf-8')
    for y, latitude in enumerate(true_lat):
        for x, longitude in enumerate(true_lon):
            if (row.lat == latitude) & (row.lon == longitude):
                df_clear['x'].iloc[index] = x
                df_clear['y'].iloc[index] = y
                flag = True
                break
        if flag:
            break

C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\444733394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear["x"] = np.nan
C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\444733394.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear['y'] = np.nan
0it [00:00, ?it/s]C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\444733394.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear['x'].iloc[index] = x
C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\444733394.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear['y'].iloc[index] = y
199it [03:31,  1.06s/it]

KeyboardInterrupt:

In [43]:
pd.read_csv('clear_data.csv')

,Unnamed: 0,timestamp,lon,lat,likescount,commentscount,symbols_cnt,words_cnt,hashtags_cnt,mentions_cnt,links_cnt,emoji_cnt,x,y,-2,-1
0,0,2019-08-12 14:00:00,30.329370,59.940488,63,4,52,6,0,0,0,0,106.0,100.0,106.0,100.0
1,1,2019-08-12 03:00:00,30.342845,59.869542,44,0,40,0,4,0,0,0,112.0,163.0,112.0,163.0
2,2,2019-08-12 03:00:00,30.322632,60.039332,30,0,77,7,0,0,0,1,103.0,12.0,103.0,12.0
3,3,2019-08-12 03:00:00,30.322632,59.938238,13,0,634,17,32,0,0,7,103.0,102.0,103.0,102.0
4,4,2019-08-12 03:00:00,30.309158,59.932612,8,0,0,0,0,0,0,0,97.0,107.0,97.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862475,1880240,2019-01-06 18:00:00,30.250767,59.932612,74,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1862476,1880241,2019-01-06 18:00:00,30.372040,59.965226,74,9,98,10,0,0,0,2,NaN,NaN,NaN,NaN
1862477,1880242,2019-01-06 18:00:00,30.342845,59.926986,58,8,58,6,0,0,0,2,NaN,NaN,NaN,NaN
1862478,1880243,2019-01-06 18:00:00,30.266488,60.006791,27,0,32,4,0,0,0,1,NaN,NaN,NaN,NaN
1862479,1880244,2019-01-06 18:00:00,30.338353,59.955108,10,2,36,4,0,0,0,0,NaN,NaN,NaN,NaN

In [62]:
le = preprocessing.LabelEncoder()
le.fit(true_lon)
df_clear['x'] = le.transform(df_clear.lon)
le.fit(true_lat)
df_clear['y'] = le.transform(df_clear.lat)

C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\3356847411.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear['x'] = le.transform(df_clear.lon)
C:\Users\gto_n\AppData\Local\Temp\ipykernel_10388\3356847411.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear['y'] = le.transform(df_clear.lat)

In [64]:
df_clear

,timestamp,lon,lat,likescount,commentscount,symbols_cnt,words_cnt,hashtags_cnt,mentions_cnt,links_cnt,emoji_cnt,x,y
0,2019-08-12 14:00:00,30.329370,59.940488,63,4,52,6,0,0,0,0,106,110
1,2019-08-12 03:00:00,30.342845,59.869542,44,0,40,0,4,0,0,0,112,47
2,2019-08-12 03:00:00,30.322632,60.039332,30,0,77,7,0,0,0,1,103,198
3,2019-08-12 03:00:00,30.322632,59.938238,13,0,634,17,32,0,0,7,103,108
4,2019-08-12 03:00:00,30.309158,59.932612,8,0,0,0,0,0,0,0,97,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8526521,2019-08-16 21:00:00,30.324878,59.932612,48,0,15,2,0,0,0,1,104,103
8526522,2019-08-16 21:00:00,30.324878,59.932612,20,1,0,0,0,0,0,0,104,103
8526523,2019-08-16 21:00:00,30.324878,59.932612,54,2,75,7,0,0,0,6,104,103
8526524,2019-08-16 19:00:00,30.324878,59.932612,15,0,350,4,25,0,0,0,104,103
8526525,2019-08-16 18:00:00,30.324878,59.932612,61,5,37,1,1,0,0,1,104,103